/*Styling for the whole HTML document*/
html {
	font-family: Arial, Helvetica, sans-serif;
	margin: -10px;
	padding: 0;
	background-image: url(images/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
/*CSS Grid*/
/*Layout for mobile*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-areas: 
	"header header"
	"navigation navigation"
	"banner banner"
	"content content"
	"footer footer";
}
/*Header row styling*/
/*Another CSS grid*/
.header {
	display: grid;	
	grid-area: header;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"logo slogan"
	"contacts contacts";
	padding-bottom: 50px;
}
/*logo styling*/
.logo { 
	max-height: 300px;
	width: 200px;
	grid-area: logo;
}
/*slogan styling*/
.slogan{
	grid-area: slogan;
	margin-top: 35px;
	font-size: 25px;
	color: #aec6cf;
	font-weight: 400;
}
/*contact details styling*/
.contacts {
	grid-area: contacts;
	list-style-type: none;
	font-size: 20px;
	margin-top: -70px;
	text-align: center;
}
/*navigation row styling*/
.navigation {
	grid-area: navigation;
	margin-top: -40px;
}
nav ul li, .dropdown {
	display: block;
	width: 100%;
	font-size: 20px;
	list-style: none;
	padding-bottom: 10px;
	text-align: center; 
}
a {
	text-decoration: none;
	text-align: center;
	color: 	#000000;
}
nav a:hover, .location a:hover {
	color: #619196;
	font-weight: bold;
}
/*Dropdown menu styling*/
.dropdown-link a {
	float: none;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}
.dropdown-link {
	display: none;
	position: absolute;
	z-index: 1;
	text-align: center;
	min-width: 160px;
}
.dropdown {
	position: relative;
}
.dropdown:hover .dropdown-link {
 	display: block;
 	background-color: #FFFFFF;
 }
 /*banner row styling*/
 .banner {
 	grid-area: banner;
 	position: relative;
 	display: inline-block; 	
 }
 .bannerPic {
 	width: 100%;
 	max-height: 500px;
 	margin: 0;
 	object-fit: fill;
 }
 .bannerText {
 	color: #ffffff;
 	font-size: 80px;
 	position: absolute;
 	top: 0;
 	left: 15px;
 	font-style: italic;
 }
 /*offer styling*/
 .offer {
 	width: 100%;
 	background-color: #FEDCD2;
 	text-align: center;
 	font-size: 26px;
 	margin-top: -3px;
 }
 /*content row styling*/
 .content {
 	grid-area: content;
 	font-size: 22px;
 	line-height: 1.6;
 	padding-top: 50px;
 	padding-bottom: 50px;
}
.content a:hover {
	text-decoration: underline;
	text-decoration-color: #aec6cf;
}
strong, h2, .enquiry-form label {
	color: #89AEB2;
}
/*image styling*/
.image {
	display: block;
	max-height: 400px;
	max-width: 400px;
	margin: 20px;
}
/*Team member styling on team page*/
.member-profile {
	max-width: 350px;
	background-color: #DFC7C1;
	border-radius: 5px;
	padding: 5px;
	display: block;
	margin: 10px 25px;
}
.member-profile img{
	width: 300px;
	height: 300px;
}
.member-profile figcaption {
	text-align: center;
	letter-spacing: 2px;
}
/*service styling on service page*/
.service {
	background-color: #DFC7C1;
	border-radius: 5px;
	margin: 20px 15px;
	max-width: 1300px;
}
.service-item {
	display: block;
	width: 300px;
	max-height: 400px;
	vertical-align: middle;
	padding-left: 50px;
}
.service img{
	max-width: 350px;
	max-height: 350px;
	border-radius: 5px;
}
.service-item h2 {
	color: #000000;
}
.price {
	font-size: 80px;
	font-weight: bold;
	margin-bottom: -50px;
}
/*gallery styling on gallery page*/
.gallery {
	border: solid;
	border-color: #89AEB2;
	border-width: 10px;
	border-radius: 5px;
	max-width: 1200px;
}
.gallery-item {
	max-width: 350px;
	border-radius: 5px;
	display: block;
	margin: 20px;
	padding-left: 50px;
	overflow: hidden;
}
.gallery-item img{
	width: 300px;
	height: 300px;
	transition: transform 1s;
}
.gallery-item img:hover {
	transform: scale(1.5) ;
}
/*modal styling*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  max-height: 600px;

}
/*modal animation styling*/
.modal-image {
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/*modal close button styling*/
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
}

.close:hover{
  color: #619196;
  cursor: pointer;
}
/*address styling on contact page*/
.address p {
	margin-top: -30px;
}
.address {
	display: block;
	margin: 30px;
}
/*enquiry form styling on contact page*/
.enquiry-form label {
	font-size: 25px;
	padding-left: 20px;
}
input[type=text], input[type=E-mail], textarea {
	width: 100%;
	font-size: 22px;
 	padding: 15px;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
} 
/*Footer row styling*/
.footer {
	background-color: #aec6cf;
	border-radius: 5px;
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"times times"
	"location location"
	"enquiries enquiries";
	padding: 30px 50px;
}
/*opening time styling on the footer*/
.times {
	grid-area: times;
	margin-right: 10px;
}
/*location styling on the footer*/
.location {
	grid-area: location
}
/*enquiry styling on the footer*/
.enquiries {
	grid-area: enquiries;
}
.location ul li, .times ul li {
	list-style-type: none;
	font-size: 25px;
	margin-left: -35px;
}
.enquiries button, .enquiry-form input[type=submit] {
	border-radius: 5px;
  	background-color: #F4DCD6;
  	border: none;
  	text-align: center;
  	font-size: 28px;
  	padding: 40px;
  	width: 250px;
  	cursor: pointer;
  	transition: box-shadow 1s;
  	-webkit-transition: box-shadow 1s;
}
.enquiries button:hover, .enquiry-form input[type=submit]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.times p, .location p, .enquiries p {
	font-size: 25px;
}
/*styling for layout in desktop (760 or higher)*/
@media screen and (min-width: 760px) {
	.grid {
		display: grid;
		grid-template-columns: 200px 1fr 1fr 1fr 200px;
		grid-template-areas: 
		". header header header ."
		". navigation navigation navigation ."
		"banner banner banner banner banner"
		". content content content ."
		". footer footer footer .";
	}
	.header {
		display: grid;	
		grid-area: header;
		grid-template-columns: auto 1fr 1fr;
		grid-template-areas: 
		"logo slogan contacts";
	}
	.logo { 
		max-height: 300px;
		width: 150px;
		grid-area: logo;
	}
	.slogan{
		grid-area: slogan;
		margin-top: 30px;
		font-size: 25px;
		color: #aec6cf;
	}
	.contacts {
		grid-area: contacts;
		list-style-type: none;
		font-size: 20px;
		margin-top: 30px;
		float: right;
	}
	.navigation {
		grid-area: navigation;
		margin-top: -40px;
	}
	nav ul li, .dropdown {
		display: inline;
		font-size: 20px;
		list-style: none;
		padding-right: 50px;
	}
	.dropdown-link {
		display: none;
		position: absolute;
		z-index: 1;
		padding: 12px 16px;
		min-width: 160px;

	}
	.footer {
		background-color: #aec6cf;
		border-radius: 5px;
		grid-area: footer;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"times location enquiries";
		padding: 30px 50px;
	}
	.times {
		grid-area: times;
		margin-right: 10px;
	}
	.location {
		grid-area: location
	}
	.enquiries {
		grid-area: enquiries;
	}
	.image {
		float: right;
		max-height: 400px;
		max-width: 400px;
		margin: 20px;
	}
	.member-profile {
		max-width: 350px;
		background-color: #DFC7C1;
		border-radius: 5px;
		padding: 5px;
		display: inline-block;
		margin: 10px 25px;
	}
	.service-item {
		display: inline-block;
		width: 300px;
		height: 400px;
		vertical-align: middle;
		margin-right: 40px;
		padding-left: 20px;
	}
	.gallery-item {
		max-width: 350px;
		border-radius: 5px;
		display: inline-block;
		margin: 20px 5px;
		overflow: hidden;
	}
	.address {
		display: inline-block;
		margin: 30px 130px;
	}
}